.add-list {
  position: relative;
  &__popup {
    box-sizing: border-box;
    height: 150px;
    width: 240px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 19px;
    position: absolute;
    top: -50%;
    left: -5%;

    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }
  }

  .button {
    width: 100%;
    margin-top: 12px;
  }

  &__popup-colors {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    .badge {
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 2px solid transparent;

      &.active {
        border: 2px solid #525252;
      }
    }
  }
}
